.dart_tool/
.git/
.idea/
.vscode/
android/
build/
ios/
linux/
macos/
windows/
school-backend/
school-backend/.git/
school-backend/.gocache/
school-backend/school-backend
school-backend/school.db
school-backend/test-report/
*.db
*.sqlite
*.env
env.json
app.*.symbols
app.*.map.json
